body {
  font-family: 'Courier New', Courier, monospace;
  background: radial-gradient(
      circle,
      transparent 20%,
      slategray 20%,
      slategray 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        slategray 20%,
        slategray 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient(#a8b1bb 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #a8b1bb 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

h1.header {
  text-align: center;
  color: white;
  text-shadow: 4px 3px 0 #333;
}

h2 {
  text-align: center;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 1px 0 #333;
}

.stage {
  background: black;
  margin: auto;
  position: relative;
  padding: 5px;
  overflow: hidden;
}

.dot {
  display: block;
  position: absolute;
  background: white;
}

.dot.food {
  background: greenyellow;
}

.button-wrapper {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#start-btn {
  font-family: 'Courier New', Courier, monospace;
  background: darkgoldenrod;
  padding: .4em 1.5em;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  color: white;
}

.game-over {
  color: white;
  font-size: 38px;
  color: red;
}